/* INDEX */

body {
    background-color: #f2f2f2;
}
header {
    background-color: black;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: auto;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .subNav {
        display: flex;
        align-items: center;
        text-align: center;
        .logo {
            .logoImg {
                width: 75px;
                height: auto;
                margin: 20px 50px;
            }
        }
        .list {
            display: flex;
            gap: 20px;
            .navItem {
                .navButton {
                    background-color: black;
                    color: white;
                    border: 0px solid black;
                }
            }
        }
    }
    .user {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .carrito {
            display: flex;
            justify-content: center;
            align-items: center;
            .fa-cart-shopping {
                margin: 20px 10px 20px 20px;
                font-size: 1.4rem;
            }
            .contadorCarrito {
                font-size: 1.4rem;
                color: black;
                background-color: #ffffff;
                border-radius: 100px;
                padding: 1px 7px;
                margin-right: 20px;
            }
        }
    }
}

#bienvenido {
    color: #ffffff;
    margin-right: 20px;
    .fa-user {
        margin-right: 10px;
        font-size: 1rem;
    }
}

.carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-cart-shopping {
        margin: 20px 10px 20px 20px;
        font-size: 1.4rem;
    }
    #contadorCarrito {
        font-size: 1.4rem;
        color: black;
        background-color: #ffffff;
        border-radius: 100px;
        padding: 1px 7px;
        margin-right: 20px;
    }
}

.imagesContainer {
    display: flex;
    align-items: center;
    padding-top: 56px;
    .image {
        flex-basis: 33.33333333%;
    }
}

.divH1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.catalogo {
    #grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 10rem;
        row-gap: 5rem;
        margin: 0px 300px;
        margin-top: 80px;
        justify-content: center;
        align-items: center;
        text-align: center;
        .grid-item {
            background-color: #ffffff;
            width: 250px;
            height: auto;
            img {
                max-width: 100%;
                height: auto;
            }
            h5 {
                margin-top: 10px;
            }
            h3 {
                margin-top: 10px;
            }
            h4 {
                margin-top: 10px;
            }
            .btnCarrito {
                margin: 15px;
                background-color: black;
                color: white;
                border: 1px solid black;
                border-radius: 15px;
                padding: 8px;
                transition: transform .4s ease-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

/* CARRITO */

main {
    .tituloCarrito {
        margin-top: 170px;
        margin-bottom: 50px;
        text-align: center;
    }
    .carrito-vacio {
        margin-top: 100px;
        font-size: 1.5rem;
    }
}

.carrito {
    display: flex;
    flex-direction: column;
    #grid-container-carrito {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
        width: 70%;
        .carrito-vacio {
            display: none;
        }
        #grid-item-carrito {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;
            border-radius: 15px;
            .carrito-eliminar {
                background-color: #ffffff;
                border-radius: 5px;
                border: 2px solid black;
                padding: 4px 10px;
                margin-right: 30px;
                .fa-trash {
                    color: rgb(177, 26, 26);
                }
            }
        }
    }
    .carrito-acciones {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin-top: 50px;
        .carrito-accion-vaciar {
            .boton-vaciar {
                margin: 15px;
                background-color: black;
                color: white;
                border: 2px solid black;
                border-radius: 15px;
                padding: 10px;
            }
        }
        .carrito-accion-comprar {
            display: flex;
            .carrito-accion-total {
                display: flex;
                position: relative;
                left: 55px;
                margin: 15px;
                background-color: #ffffff;
                color: black;
                border: 2px solid black;
                border-radius: 15px;
                padding: 10px 40px 10px 10px;
            }
            .boton-comprar {
                margin: 15px;
                background-color: black;
                color: white;
                border: 2px solid black;
                border-radius: 15px;
                padding: 10px 20px 10px 30px;
            }
        }
    }
}

